* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

:root {
	--body-clr: #090a0a;
	--bg-clr: #3f4345;
	--primary-clr: #dbc180;
}

body {
	background: var(--body-clr);
	color: var(--primary-clr);
	height: 100vh;
	font-weight: 500;
}

.title {
	position: relative;
	top: 25px;
	text-align: center;
	height: 100px;
}

.calc {
	display: grid;
	gap: 8px;
	grid-template:
		"label label label label"
		"reset cheon divided time"
		"seven eight nine minus"
		"four five six plus"
		"one two three equal"
		"zero_ zero_ dot_ equal";
	height: 400px;
	margin: auto;
	max-width: 250px;
}

.calc-btn::-moz-focus-inner {
	border: none;
}

.calc-btn {
	color: var(--primary-clr);
	font-size: 18px;
	background: var(--bg-clr);
	border: none;
	border-radius: 8px;
}

.calc-btn:hover {
	transform: scale(1.1);
}

.calc-btn:focus {
	transform: scale(1.1);
	color: #fff;
}

.operation,
.result {
	height: 1em;
	/* border: 1px solid #000; */
	font-size: 32px;
}
.operation {
	opacity: 0.5;
}
.calc-screen {
	height: 100px;
	border-radius: 8px;
	padding: 5px;
	display: flex;
	text-align: end;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	color: #000;
	grid-area: label;
}
.calc-btn-1 {
	grid-area: one;
}
.calc-btn-2 {
	grid-area: two;
}
.calc-btn-3 {
	grid-area: three;
}
.calc-btn-4 {
	grid-area: four;
}
.calc-btn-5 {
	grid-area: five;
}
.calc-btn-6 {
	grid-area: six;
}
.calc-btn-7 {
	grid-area: seven;
}
.calc-btn-8 {
	grid-area: eight;
}
.calc-btn-9 {
	grid-area: nine;
}
.calc-btn-0 {
	grid-area: zero_;
}
.calc-btn-dot {
	grid-area: dot_;
}
.calc-btn-plus {
	grid-area: plus;
}
.calc-btn-minus {
	grid-area: minus;
}
.calc-btn-equal {
	grid-area: equal;
	writing-mode: vertical-lr;
	text-orientation: upright;
	text-align: center;
	font-size: 16px;
}
.calc-btn-reset {
	grid-area: reset;
}
.calc-btn-chevron {
	grid-area: cheon;
}

.disable {
	opacity: 0.3;
	pointer-events: none;
	border: 2px solid #ff0000;
	color: #000;
	background: rgb(255, 255, 255);
}
